img{
    width: 300px;
    border: 5px solid rgb(195, 122, 27);;
    padding: 10px;
}
.table{
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}
thead th{
    background-color: rgb(195, 122, 27);
    color: azure;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
}
td{
    border: 1px rgb(107, 62, 4) ;
    padding: 5px;
    text-align: left;
    background-color: rgb(195, 122, 27);
    color: azure;
    border-style: inset;
}
h1{
    color:rgb(195, 122, 27) ;
}

