body{
    background-color: #f6efef;
}
.container{
    display: flex;
    align-items: center;
}
img{
     width: 30%;
     padding: 10px;
     border-radius: 30px;
     height: 30%;
}
.text{
    text-align: left;
}
.name{
    font-size: 1.5rem;
    color: beige;
}
.fname{
    color: rgba(161, 88, 3, 0.675);
}
.names{
    color: rgb(224, 139, 11);
}
nav{
    background-color: #f0dbdb;
    padding: 6px 15px;
    display: flex;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: auto;
}
li{
    float: left;
    list-style: none;
    padding: 10px 15px;
    text-decoration: none;
}
a{
    text-decoration: none;
}